<DOCTYPE html>
	<html>
	<head>
		<title>docs</title>
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="vendor/story/css/the-story.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<meta charset=utf-8 />
	</head>
	<body ng-app="docs">
		<div id="wrapper">
			<div id="sidebar-wrapper">
				<div id="sidebar-nest">
					<div class="sidebar-nav" ng-init="current = false">
						<div>
							<a href="#"><img class="center" src="img/branding.png" width="100"></img></a>	
						</div>
						<ul>
							<li class="ancestor" ng-controller="MenuCtrl" ng-class="{active:active}">
								<a href="#" ng-click="click()">The TinySolution Fast Track<span class="glyphicon glyphicon-chevron-down"></span></a>
								<ul>
									<li><a href="#">What is TinySolution?</a></li>
									<li><a href="#">Connecting to TinySolution</a></li>
									<li class="active"><a href="#">Querying TinySolution</a></li>
									<li><a href="#">Sending Data</a></li>
									<li><a href="#">Streaming Data</a></li>
								</ul>
							</li>
							<li ng-controller="MenuCtrl" ng-class="{active:active}">
								<a href="#" ng-click="click()">API Reference<span class="glyphicon glyphicon-chevron-down"></span></a>
								<ul>
									<li><a href="#">HTTP API</a></li>
									<li><a href="#">HTTP Push API</a></li>
								</ul>
							<li  ng-controller="MenuCtrl" ng-class="{active:active}">
								<a href="#" ng-click="click()">Client libraries<span class="glyphicon glyphicon-chevron-down"></span></a>
								<ul>
									<li><a href="#">ABC</a>
								</ul>
							</li>
							<li  ng-controller="MenuCtrl" ng-class="{active:active}">
								<a href="#" ng-click="click()">Network Connectors<span class="glyphicon glyphicon-chevron-down"></span></a>
								<ul>
									<li><a href="#">GSM/GRPS</a></li>
									<li><a href="#">Ethernet</a></li>
									<li><a href="#">Softare solutions</a></li>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="page-content-wrapper">
				<div class="container">
					<div class="row">
						<div id="projectlinks" class="col-md-8">
							<a href="#" class="active">Tinymesh Cloud</a>
							<a href="#">Tinymesh Workbenchz</a>
							<a href="#">Tinymesh Protocol</a>
						</div>
						<div id="search" class="col-md-4">
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<input type="text" class="form-control input-sm" placeholder="Search">
								</div>
								<button type="submit" class="btn btn-default btn-sm">&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;</button>
							</form>
						</div>
					</div>

					<div class="page-content inset">
						<div class="row">
							<div class="col-md-12">
								<h1>
									<a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
									Querying Data
								</h1>
								<p>This page describes how to query data using the <a href="#">HTTP API</a></p>
								<h2>Finding Devices</h2>
								<p>When a new device connects to TinySolution™, the device will automatically be added to the Parent Container. The [[HTTP List Devices]] operation may be used to retrieve a list of all the Devices in the Container.</p>
								<div class="CodeRay">
									<div class="code"><pre>dev<span style="color:#C00;font-weight:bold">@</span>lp:~ $ curl api.tiny-solution.com/container/<span style="color:#036;font-weight:bold">ABCD</span>

										<span style="color:#036;font-weight:bold">HTTP</span>/<span style="color:#60E">1.1</span> <span style="color:#00D">200</span> <span style="color:#036;font-weight:bold">OK</span>
										<span style="color:#036;font-weight:bold">Allow</span>: <span style="color:#036;font-weight:bold">GET</span>, <span style="color:#036;font-weight:bold">PUT</span>
										<span style="color:#369;font-weight:bold">Date</span>: <span style="color:#036;font-weight:bold">Fri</span>, <span style="color:#00D">01</span> <span style="color:#036;font-weight:bold">Feb</span> <span style="color:#00D">2013</span> <span style="color:#00D">15</span>:<span style="color:#00D">31</span>:<span style="color:#00D">18</span> <span style="color:#036;font-weight:bold">GMT</span>
										<span style="color:#036;font-weight:bold">Content</span>-<span style="color:#036;font-weight:bold">Length</span>: x

										[{<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">key</span><span style="color:#710">&quot;</span></span>:<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">ABCD</span><span style="color:#710">&quot;</span></span>,name:<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">Container #ABCD</span><span style="color:#710">&quot;</span></span>,<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">devices</span><span style="color:#710">&quot;</span></span>:[<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">ABCD/0bee89b07a248</span><span style="color:#710">&quot;</span></span>]}]
									</pre></div>
								</div>
								<p>The key parameter is the Container ID, as previously entered in the
									<code>Calibration Memory</code> of the TinyMesh™ Gateway Device; <code>name</code> in this
									case is auto generated and <code>devices</code> is a list of IDs used to uniquely
									identify a Device (the Gateway Device in this case). If you go ahead
									and add a new Device to the TinyMesh™ Container, it will automatically
									create a new Device Object and you will be able to see it in the devices array.</p>
									<h2>Retrieving Messages</h2>
									<p>The most interesting data to look at, is the messages. Most likely you
										will query a time series of message either by a Device or Container
										using the [[HTTP Fetch Messages]] operation.
										If you have added any rules like filtering, this will be applied
										before the messages are returned in the format specified by the <code>Accept</code> header.</p>

										<p><strong>Fetch messages from the container</strong></p>
										<div class="CodeRay">
											<div class="code"><pre>dev<span style="color:#C00;font-weight:bold">@</span>lp:~ $ curl api.tiny-solution.com/messages/<span style="color:#036;font-weight:bold">ABCD</span>?<span style="color:#369;font-weight:bold">date</span>.from=<span style="color:#00D">2013</span>-<span style="color:#00D">02</span>-<span style="color:#00D">02</span><span style="color:#036;font-weight:bold">T00</span>:<span style="color:#00D">00</span>:<span style="color:#00D">00</span><span style="color:#036;font-weight:bold">Z</span>

												<span style="color:#036;font-weight:bold">HTTP</span>/<span style="color:#60E">1.1</span> <span style="color:#00D">200</span> <span style="color:#036;font-weight:bold">OK</span>
												<span style="color:#036;font-weight:bold">Allow</span>: <span style="color:#036;font-weight:bold">GET</span>
												<span style="color:#369;font-weight:bold">Date</span>: <span style="color:#036;font-weight:bold">Fri</span>, <span style="color:#00D">01</span> <span style="color:#036;font-weight:bold">Feb</span> <span style="color:#00D">2013</span> <span style="color:#00D">15</span>:<span style="color:#00D">31</span>:<span style="color:#00D">43</span> <span style="color:#036;font-weight:bold">GMT</span>
												<span style="color:#036;font-weight:bold">Content</span>-<span style="color:#036;font-weight:bold">Length</span>: x

												[{<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">key</span><span style="color:#710">&quot;</span></span>:<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">ABCD/0bee89b07a248/20130201151859</span><span style="color:#710">&quot;</span></span>,<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">type</span><span style="color:#710">&quot;</span></span>:<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">event</span><span style="color:#710">&quot;</span></span>,
												<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">detail</span><span style="color:#710">&quot;</span></span>:<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">get_cad</span><span style="color:#710">&quot;</span></span>,<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">caddr</span><span style="color:#710">&quot;</span></span>:<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">ABCD</span><span style="color:#710">&quot;</span></span>, ..... }]
											</pre></div>
										</div>
										<p>As seen above all queries must have a date range, by default the 
											date.to field is set to the current time. The <a href="../../../../tiny-solution/references/apis/http/Date-Field/" class="tiny-solution">Date Field</a> supports
											some basic math operations like “2013-02-02T:00:00:00Z-1WEEK”, alternatively you
											may use the string literal NOW to work with relative time; e.g.
											NOW-1HOUR. All the dates must be formatted as a valid ISO 8601 date time.</p>
											<h3>Filtering responses</h3>

											<p>TinySolution™&#39;s flexibility is demonstrated by it&#39;s ability to
												manipulate the result set. In addition to employing the dynamic parser
												that is driving your business logic, you may filter the query result
												using the <code>resp.filter</code> and <code>resp.exclude</code> parameters.</p>

												<div class="Cod	eRay">
													<div class="code"><pre>dev<span style="color:#C00;font-weight:bold">@</span>lp:~ $ curl api.tiny-solution.com/messages/<span style="color:#036;font-weight:bold">ABCD</span>?<span style="color:#369;font-weight:bold">date</span>.from=<span style="color:#036;font-weight:bold">NOW</span>-<span style="color:#00D">1</span><span style="color:#036;font-weight:bold">HOUR</span>&amp;resp.filter=<span style="color:#369;font-weight:bold">key</span>,caddr

														<span style="color:#036;font-weight:bold">HTTP</span>/<span style="color:#60E">1.1</span> <span style="color:#00D">200</span> <span style="color:#036;font-weight:bold">OK</span>
														<span style="color:#036;font-weight:bold">Allow</span>: <span style="color:#036;font-weight:bold">GET</span>
														<span style="color:#369;font-weight:bold">Date</span>: <span style="color:#036;font-weight:bold">Fri</span>, <span style="color:#00D">01</span> <span style="color:#036;font-weight:bold">Feb</span> <span style="color:#00D">2013</span> <span style="color:#00D">15</span>:<span style="color:#00D">33</span>:<span style="color:#00D">18</span> <span style="color:#036;font-weight:bold">GMT</span>
														<span style="color:#036;font-weight:bold">Content</span>-<span style="color:#036;font-weight:bold">Length</span>: x

														[{<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">key</span><span style="color:#710">&quot;</span></span>:<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">ABCD/0bee89b07a248/20130201151942</span><span style="color:#710">&quot;</span></span>,<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">caddr</span><span style="color:#710">&quot;</span></span>:<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">ABCD</span><span style="color:#710">&quot;</span></span>}]
													</pre></div>
												</div>


												<p>Using the <code>resp.filter</code> parameter will only return the fields specified,
													while the <code>resp.exclude</code> parameter does the exact opposite, and removes
													the specified fields. If you filter on a non-existing field, it will
													have no effect.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<div class="col-sm-3">
					<h5>What we do</h5>

					<ul class="nav">
						<li><a href="#">Overview</a></li>
						<li><a href="#">Case studies</a></li>
						<li><a href="#">Pricing</a></li>
						<li><a href="#">The TinySolution Network</a></li>
					</ul>
				</div>

				<div class="col-sm-3">
					<h5>Support</h5>

					<ul class="nav">
						<li><a href="#">Getting Started</a></li>
						<li><a href="#">Documentation</a></li>
						<li><a href="#">Hardware integration</a></li>
						<li><a href="#">TinyMesh protocol</a></li>
					</ul>
				</div>

				<div class="col-sm-3">
					<h5>About Us</h5>

					<ul class="nav">
						<li><a href="#">Company</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>

					<br>

					<h5>Security &amp; Privacy</h5>

					<ul class="nav">
						<li><a href="#">Information Security</a></li>
						<li><a href="#">Terms of service</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>

				<div class="col-md-3">
					<h5>Secure, real-time communication</h5>

					<p>
						Extending the <b>TinyMesh</b> protocol, <b>TinySolution</b>
						ensures secure and fault-tolerant communication over a real-time
						network backbone; creating a robust platform tailored for
						automating industry, office and homes.
					</p>

					<hr>

					<p>
						&copy; 2012-2013 <a href="https://tiny-mesh.com">Tiny Mesh AS</a>.
					</p>
				</div>
			</div>
		</footer>
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/app.js"></script>
	</body>
</html>	